{% extends "annotator/base.html" %}

{% block body %}

{% load annotator_extras %}

<video width='640px' height='480px' controls autoplay>
    <source src="{{ video.url | process_url}}" type="video/mp4">
</video>

<p>
{{ video.query_label_type.name | label_to_question }}
</p>

<form method='POST'>
        {% csrf_token %}
	<input type="submit" name="submit" value="Yes" />
	<input type="submit" name="submit" value="No" />
        <input type="hidden" name="video_id" value="{{video.id}}" ?>
</form>

{% endblock %}
