{% extends "annotator/base.html" %}

{% block body %}

{% load annotator_extras %}


<video id='video' width='640px' height='480px' controls autoplay muted>
    <source src="{{ video.url | process_url}}" type="video/mp4">
</video>
<script type='text/javascript'>
if (!navigator.userAgent.match(/Mobile/)) {
document.getElementById('video').muted = false;
}
$('#video').on('ended', function () {
  this.load();
  this.play();
});

</script>

<p>
{{ video.query_label_type.name | label_to_question }}
</p>

<form method='POST'>
        {% csrf_token %}
	<input class="big" type="submit" name="submit" value="Yes" />
	<input class="big" type="submit" name="submit" value="No" />
	<input class="big" type="submit" name="submit" value="Not sure" />
        <input type="hidden" name="video_id" value="{{video.id}}" ?>
</form>

<hr />
<p>Nb of videos annotated for "{{video.query_label_type.name}}": <em>{{nb_annotated}} / {{nb_total}}</em> <br />(remaining : <em>{{nb_remaining}}</em>)</p>

<a href='/class_selection'>Back to menu</a>
{% endblock %}
